apiVersion: apps/v1
kind: Deployment
metadata:
  name:  helloworld1
  namespace: default
  labels:
    app:  helloworld1
spec:
  selector:
    matchLabels:
      app: helloworld1
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app:  helloworld1
    spec:
      containers:
      - name:  helloworld1
        image: gcr.io/jarviscool/helloworl2:v1
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort:  8080
          name:  helloworld1
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  name: helloworld1-svc
spec:
  selector:
    app: helloworld1
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort